@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/newlwayout.cshtml";
    //Layout = "~/Views/Shared/newlyayout2.cshtml";
}
<div style="text-align:center;margin-left:auto;margin-right:auto; color: White;">

    <h2>@ViewBag.Title About Us</h2> <br />
    <h4>DURBAN EQUIPMENT HIRE</h4>
    <br />

    <h5>WHAT WHO WE ARE</h5>

    <p>
        We are the local equipment hire for events of all variations. 

        <br>
        <br>
    </p>


    <h5>MISSION</h5>

    <p>
       To please and provide the best service for our customers is the main target. 
    </p>

    <h5>VISION</h5>

    <p>
        Our set of firm values and ethical beliefs allow us to navigate our positive energy towards gaining excessive knowledge of our target market and the closing of any voids in the market. We hope to prosper and reach greater heights on a constant basis.


</div>