@if (Request.IsAuthenticated)
{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/newlwayout.cshtml";
}
else
{

    ViewBag.Title = "";
    Layout = "~/Views/Shared/newlwayout.cshtml";
    //Layout = "~/Views/Shared/newlyayout2.cshtml";
}

        <section class="no-padding-top no-padding-bottom">

            <br />
            Durban Equipment Hire
            <br />
            Address
            <br />
            Kloof, Caroline Crescent 
            <br />

            <br />
            Durban
            <br />
            Kwa-Zulu Natal
            <br />
            4001
            <br />
            South Africa
            <br />
            Contact
            <br />
            TEL: 031-909-6778

        </section>




        <section class="no-padding-top no-padding-bottom">
            <div class="container-fluid">
                <h4 style="color:grey;text-align:center; ">Management</h4>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="statistic-block block" style="background: rgba(45, 48, 53, 0.76);">
                            <div class="progress-details d-flex align-items-end justify-content-between">
                                <div class="title">
                                    <strong>Dumile Mchunu</strong><br />
                                    <h6 class="text-primary"></h6>
                                </div>
                            </div>
                            <div>
                                <a>062-348-4464</a>
                                <address>dumilemcunu@gmail.com</address>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="statistic-block block" style="background: rgba(45, 48, 53, 0.76);">
                            <div class="progress-details d-flex align-items-end justify-content-between">
                                <div class="title">
                                    <strong>Kabelo Mathambo</strong><br />
                                    <h6 class="text-primary"></h6>
                                </div>
                            </div>
                            <div>
                                <a>081-259-7769</a>
                                <address>Mathambo7@gmail.co.za</address>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="statistic-block block" style="background: rgba(45, 48, 53, 0.76);">
                            <div class="progress-details d-flex align-items-end justify-content-between">
                                <div class="title">
                                    <strong>Sazi Myeza</strong><br />
                                    <h6 class="text-primary"></h6>
                                </div>
                            </div>
                            <div>
                                <a>068-367-8812</a>
                                <address>SaziM17@gmail.com</address>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="statistic-block block" style="background: rgba(45, 48, 53, 0.76);">
                            <div class="progress-details d-flex align-items-end justify-content-between">
                                <div class="title">
                                    <strong>Mpilo Dludla</strong><br />
                                    <h6 class="text-primary"></h6>
                                </div>
                            </div>
                            <div>
                                <a>065-274-2090</a>
                                <address>Gumede@gmail.com</address>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="statistic-block block" style="background: rgba(45, 48, 53, 0.76);">
                            <div class="progress-details d-flex align-items-end justify-content-between">
                                <div class="title">
                                    <strong>Sne Kubheka</strong><br />
                                    <h6 class="text-primary"></h6>
                                </div>
                            </div>
                            <div>
                                <a>064-901-6702</a>
                                <address>KubhekaS@gmail.com</address>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="statistic-block block" style="background: rgba(45, 48, 53, 0.76);">
                            <div class="progress-details d-flex align-items-end justify-content-between">
                                <div class="title">
                                    <strong>M Korora</strong><br />
                                    <h6 class="text-primary"></h6>
                                </div>
                            </div>
                            <div>
                                <a>061-250-0335</a>
                                <address>Kokora15@gmail.com</address>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="statistic-block block" style="background: rgba(45, 48, 53, 0.76);">
                            <div class="progress-details d-flex align-items-end justify-content-between">
                                <div class="title">
                                    <strong>Bonelwa Ndlovu</strong><br />
                                    <h6 class="text-primary"></h6>
                                </div>
                            </div>
                            <div>
                                <a>068-018-7199</a>
                                <address>BoneNdlovu@gmail.com</address>
                            </div>
                        </div>
                    </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
